.Category{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.navBtn{
    width: 150px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #D94A4A;
    border-bottom: 1px solid;
}
.menuBox{
    width: fit-content;
    height: fit-content;
    display: flex;
}
.menuLeft{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 400px;
    background-color: #d77a7a;
}
.dropDownMenu{
    width: inherit;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    background-color: #D94A4A;
    margin-bottom: 5px;
}
.hover{
    width: inherit;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    background-color: white;
    margin-bottom: 5px;
}
.menuRight{
    width: 400px;
    border: 1px solid;
    border-left: none;
}